@page "/"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject ILogger<Home> Logger
@inject IWebHostEnvironment Environment
@inject UserService userService
@rendermode InteractiveServer

<PageTitle>File Upload 1</PageTitle>

<h1>File Upload Example 1</h1>


<label for="userName">Name</label>
<input @bind="userName" @bind:event="oninput" />

<p>
    <label>
        <InputFile OnChange="@LoadFiles" />
    </label>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
    @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
                    <li>Name: @file.Name</li>
                    <li>Last modified: @file.LastModified.ToString()</li>
                    <li>Size (bytes): @file.Size</li>
                    <li>Content type: @file.ContentType</li>
                </ul>
            </li>
        }
    </ul>
}
<hr>
@foreach (var user in userService.Users)
{
    <div>
    @user.Name
    <ul>
        @foreach (var fileName in user.OwnedFiles)
            {
                <li>@fileName</li>
            }
        </ul>
    </div>
}


@code {
    private List<IBrowserFile> loadedFiles = new();
    private bool isLoading;

    private string userName { get; set; } = "";


    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        if (userName != "")
        {
            isLoading = true;
            loadedFiles.Clear();

            foreach (var file in e.GetMultipleFiles(1))
            {
                await userService.StoreFile(userName, file);
                loadedFiles.Add(file);
            }

            isLoading = false;
        }
        else 
        {
            Console.WriteLine("cannot upload file, user not signed in");
        }
    }

}