@page "/"
@page "/file-upload-1"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject ILogger<Home> Logger
@inject IWebHostEnvironment Environment
@inject UserService userService;
@rendermode InteractiveServer

<PageTitle>File Upload 1</PageTitle>

<h1>File Upload Example 1</h1>


@if(loggedInUser == null)
{
    <form @onsubmit:preventDefault="true" @onsubmit=setUser>

        <label for="userName" >User Name</label>
        <input id="userName" @bind=inputUserField @bind:event=oninput  />
    </form>
}
else
{
    <p>logged in user is @loggedInUser</p>
}

<br>
<br>

<p>
    <label>
        <InputFile OnChange="@LoadFiles" multiple />
    </label>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
    @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
                    <li>Name: @file.Name</li>
                    <li>Last modified: @file.LastModified.ToString()</li>
                    <li>Size (bytes): @file.Size</li>
                    <li>Content type: @file.ContentType</li>
                </ul>
            </li>
        }
    </ul>
}

@code {
    private List<IBrowserFile> loadedFiles = new();
    private string? loggedInUser { get; set; } = null;
    private string inputUserField = "";
    private bool isLoading;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(1))
        {
            userService.StoreFile(loggedInUser, file);
            loadedFiles.Add(file);

        }

        isLoading = false;
    }

    private void setUser()
    {
        loggedInUser = inputUserField;
    }
}